{namespace r=ROQUIN\RoqRedirect\ViewHelpers}

<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
                    <r:be.buttons.icon uri="#" icon="actions-document-new" title="{f:translate(key: 'fluid.template.createRedirect')}" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&edit[tx_roqredirect_domain_model_redirect][{selectedDomain.pid}]=new'; return false;" />
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
                    <f:if condition="{domains->f:count()} > 0">
                        <r:be.menus.actionMenu>
                                <f:for each="{domains}" as="domain">
                                    <r:be.menus.actionMenuItem label="{domain.domainname}" controller="Domain" action="list" arguments="{domain: domain.uid, selectedDomain: selectedDomain.uid}" />
                                </f:for>
                        </r:be.menus.actionMenu>
                    </f:if>
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
                <h2>{f:translate(key: 'fluid.template.redirectManagement')}</h2>
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>